**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/out
**/logs
**/Dockerfile*
**/docker-compose*
**/*.md
**/.env
**/appsettings.Development.json
**/secrets.json
